<div class="container-fluit " >
    <ngb-carousel>
        <ng-template ngbSlide>
          <div>
            <img src="../../../assets/img/car1.jpg"  class="imgCar" alt="Random first slide">
          </div>
          <div class="carousel-caption textos-home">
            <h3>SoulCars</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div >
            <img src="../../../assets/img/car2.jpg"  class="imgCar" alt="Random second slide">
          </div>
          <div class="carousel-caption textos-home">
            <h3>Test Drive</h3>
            <p>O carro certo está aqui esperando por você, entre em contato e agende um Test-Drive</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div >
            <img src="../../../assets/img/car3.jpg" class="imgCar" alt="Random third slide">
          </div>
          <div class="carousel-caption textos-home">
            <h3>Clientes Satisfeitos</h3>
            <p>Satisfazer o cliente é obrigação, o diferencial é mantê-lo encantado</p>
          </div>
        </ng-template>
      </ngb-carousel>
</div>