.imgConf {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.containerMensagem {
    max-height: 400px;
    height: 100%;
    max-width: 510px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}
.img-carro {
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.card {
    border-radius: 10px;
    max-height: 32rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.bottonNeg {
    width: 100%;
    background-color: #2155CD;
    box-shadow: #123076 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
}

.bottonNeg:hover {
    transform: translateY(4px) translateX(4px);
    box-shadow: #123076 0px 0px 0px;
}

