<div class="container-xxl ">
    <div class="container-float">
        <img class="img" [src]="carro.imagem" alt="" class="container containerImage" style="position: absolute;">
    </div>
    <div class="d-flex bd-highlight container img" style="position: absolute; width: 100%;">
        <div class="p-10 w-100 bd-highlight containerInfo">
            <div class="d-flex justify-content-start">
                <h2>{{carro.modelo}}</h2>
            </div>
            <div class="row justify-content-between">
                <div class="col-sm">
                    <strong>Cidade</strong>
                    <p>{{carro.localizacao}}</p>
                </div>
                <div class="col-sm">
                    <strong>Ano</strong>
                    <p>{{carro.ano}}</p>
                </div>
                <div class="col-sm">
                    <strong>Quilometragem</strong>
                    <p>{{carro.kmRodados}} Km</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <strong>Descrição</strong>
                    <p>{{carro.descricao}}</p>
                </div>
                <div class="col-sm">
                    <strong>Cor</strong>
                    <p>{{carro.cor}}</p>
                </div>
                <div class="col-sm">
                    <strong>Final da Placa</strong>
                    <p>{{carro.finalPlaca}}</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <strong>Marca</strong>
                    <p>{{carro.marca}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-shrink-1 bd-highlight containerForm ">
            <div class="containerNeg ">
                <h1>{{carro.preco | currency: 'BRL'}}</h1>
                <form [formGroup]="negociarForm" (ngSubmit)="onSubmit()">
                    <!-- <div class="mb-3">
                            <label for="nome" class="form-label"></label>
                            <input formControlName="nome" type="text" class="form-control" placeholder="Nome">
                            <small class="text-danger" *ngIf="nome?.invalid && nome?.touched">
                                <span *ngIf="nome?.hasError('required')">O nome é obrigatorio!</span>
                                <span *ngIf="nome?.hasError('minlength')">O minimo é 4 caracteres</span>
                            </small>
                        </div> -->
                    <div class="mb-3">
                        <label for="email" class="form-label"></label>
                        <input [(ngModel)]="loginEmail" formControlName="email" type="email" class="form-control"
                            placeholder="E-mail">
                        <small class="text-danger" *ngIf="email?.invalid && email?.touched">
                            <span *ngIf="email?.hasError('required')">O email é obrigatorio</span>
                            <span *ngIf="email?.hasError('email')">O email é inválido</span>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label"></label>
                        <input [(ngModel)]="loginSenha" formControlName="senha" type="password" class="form-control"
                            placeholder="Senha">
                        <small class="text-danger" *ngIf="senha?.invalid && senha?.touched">
                            <span *ngIf="senha?.hasError('required')">A senha é inválida</span>
                            <span *ngIf="senha?.hasError('minlength')">minimo de caracteres é 5</span>
                        </small>
                    </div>
                    <div>
                        <!-- [routerLink]= "['/comprar/negociar', carro.id, 'interesse']" -->
                        <button class="buttonNeg btn">
                            Tenho interesse!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>