<div class="container containerCadastro  mt-5 p-5">
  <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="mb-3">
    <div class="text-center mb-3">
      <h1>Faça o seu cadastro</h1>
    </div>
    <div class="mb-4 mt-4">
      <label for="nome" class="form-label"></label>
      <input [(ngModel)]="login.nome" formControlName="nome" type="text" class="form-control" id="nome"
        placeholder="Nome Completo">
      <small class="text-danger" *ngIf="nome?.touched && nome?.invalid">
        <span *ngIf="nome?.hasError('required')">Campo obrigatório</span>
        <span *ngIf="nome?.hasError('minlength')">Mínimo 4 caracteres</span>
      </small>
    </div>
    <div class="mb-4 mt-4">
      <input [(ngModel)]="login.email" formControlName="email" type="email" class="form-control" id="inputEmail4"
        placeholder="Email">
      <small class="text-danger" *ngIf="email?.touched && email?.invalid">
        <span *ngIf="email?.hasError('required')">Campo obrigatório</span>
        <span *ngIf="email?.hasError('email')">Formato de email inválido</span>
      </small>
    </div>
    <div class="mb-4 mt-4">
      <input [(ngModel)]="login.senha" formControlName="senha" type="password" class="form-control" id="inputPassword4"
        placeholder="Senha">
      <small class="text-danger" *ngIf="senha?.touched && senha?.invalid">
        <span *ngIf="senha?.hasError('required')">Campo obrigatório</span>
        <span *ngIf="senha?.hasError('minlength')">Mínimo de 5 caracteres</span>
      </small>
    </div>
    <div class="row mb-4 mt-4">
      <div class="col">
        <input [(ngModel)]="login.estado" formControlName="estado" type="text" class="form-control" id="inputState"
          placeholder="Estado">
        <small class="text-danger" *ngIf="estado?.touched && estado?.invalid">
          <span *ngIf="estado?.hasError('required')">Campo obrigatório</span>
        </small>
      </div>
      <div class="col">
        <input [(ngModel)]="login.cidade" formControlName="cidade" type="text" class="form-control" id="inputCity"
          placeholder="Cidade">
        <small class="text-danger" *ngIf="cidade?.touched && cidade?.invalid">
          <span *ngIf="cidade?.hasError('required')">Campo obrigatório</span>
  
        </small>
      </div>
    </div>
    
    <div class="mt-5">
      <button class="button btn " [disabled]="cadastroForm.invalid">Cadastrar</button>
    </div>
  </form>
</div>