<div class="card mb-5" style="width: 18rem;">
    <img [src]="carro.imagem" class="card-img-top produto-img" alt="...">
    <div class="card-body">
        <h6 class="card-title">{{carro.modelo}}</h6>
        <p class="card-text mb-2">{{carro.descricao}}</p>
        <h4 class="text-success">
            {{carro.preco | currency: 'BRL'}}
        </h4>
        <div class="d-flex" style="justify-content: space-between;">
            <span class="text-muted">{{carro.ano}}</span>
            <span class="text-muted">{{carro.kmRodados}}km</span>
        </div>
        <div class="d-flex" style="justify-content: space-between;">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
                {{carro.localizacao}}</span>
            <button class="btn btn-primary d-block">Negociar</button>
        </div>

        <i class="bi bi-geo-alt-fill"></i>
    </div>
</div>