.img-carro {
    min-height: 200px;
    max-height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card {
    min-height: 32rem;
    max-height: 32rem;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}